<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender for Console Output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="igorMarkerEvaluator">
                <expression>return event.getMarker() != null &amp;&amp; event.getMarker().contains("IGOR");</expression>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>NEUTRAL</onMatch>
        </filter> -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT2" class="ch.qos.logback.core.ConsoleAppender">
        <!--
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="debugMarkerEvaluator">
                <expression>return event.getMarker() != null &amp;&amp; event.getMarker().contains("ALL");</expression>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>NEUTRAL</onMatch>
        </filter> -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Just the relevant parts are shown -->
    <logger name="com.marsy.teamb" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <!-- deny all other logs -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
